# Local .terraform directories
**/.terraform/*

# State files
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup

# Crash log files
crash.log
crash.*.log

# Sensitive variables files
*.tfvars
*.tfvars.json
!terraform/environments/dev/terraform.tfvars

# IDE files
*.iml
.idea/
.vscode/

# Local CLI configuration files
.terraformrc
terraform.rc

# MacOS files
.DS_Store
